@font-face {
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
    font-family: 'Lobster', cursive;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

body {
    background : #ffffff;
    margin     : 0;
    font-family: -apple-system, 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color      : #212529;
    text-align : left;
}

.container-fluid {
    background-color: white;
}

.container {
    margin-bottom: 80px;
}

.navbar-collapse {
    background-color: white !important;
}

.nav-item {
    padding-left : 15px;
    padding-right: 15px;
}


.item {
    position: relative;
}

.banner {
    display        : flex;
    justify-content: space-between;
}

.advantages {
    margin-top: 35px;
    text-align: center;
}

.advantages div {
    text-align    : center;
    color         : #5a5e68;
    font-family   : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size     : 22px;
    font-weight   : 400;
    letter-spacing: 0.33px;
}

.advantages div img {
    margin-bottom: 30px;
}

.button-info {
    border: 1px solid #49cbcd;
    color : white;
    margin-top: 30px;
    margin-left: 250%;
}

.portf {
    color         : #5a5e68;
    padding-top: 100px;
    padding-left: 200px;
    background-color: #f1f1f1;
    padding-bottom: 100px;
}


.item {
    flex      : 1 1 calc(33.33% - 30px);
    margin    : 5px;
    box-sizing: border-box;
    min-width : 365px;

    padding   : 50px 20px;
    font-size : 400%;
    text-align: center;
    background: #b5ced8;
}

.card-item{
    padding-top: 100px;
    padding-left: 200px;
    background-color: #f1f1f1;
    padding-bottom: 100px;
}
.list-item {
    background-color: #f1f1f1;
    text-align      : center;
    font-family     : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-group {
    margin-top      : 100px;
    text-align      : center;
    background-color: #f1f1f1;
}
.list-card{
    background-color: #49cbcd;
    z-index: 2;
    color: #ffffff;
    border-color: #49cbcd;
}










/*footer*/
footer {
    background: url(./img/fons_footer.png) center bottom;
    background-size: cover;
    position: relative;
}
.footer-container {
    padding-top   : 60px;
    padding-bottom: 50px;
    font-family   : 'Open Sans', sans-serif;
    color         : white;
    position      : relative;
}
.footer-content{
    text-align: left;
}